NEON_rel-humidity/** filter=lfs diff=lfs merge=lfs -text
NEON_count-ticks/** filter=lfs diff=lfs merge=lfs -text
NEON_pathogens-tick/** filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
